<form [formGroup]="form">
  <div class="modal-header offset-sm-2">
    <h5 class="modal-title">Update Password</h5>
  </div>
  <div class="modal-body">

      <div class="alert alert-warning text-center"><span>{{'You are required to change your password to use this platform'}}</span></div>
      <div *ngIf="showErrorMessageTrigger" class="alert alert-danger text-center"><span>{{getErrorMessage()}}</span></div>

      <div class="container card mt-2 mute">
        <div class="row">

          <div class="col-lg-12 col-sm-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
              <!-- <app-field-error
                *ngIf="form.controls['password'].hasError('required') && (form.controls['password'].touched ||  form.get('password').dirty)"
                [message]="'password is required'"></app-field-error> -->
            </div>
          </div>

          <div class="col-lg-12 col-sm-12">
            <div class="form-group">
              <label >New Password</label>
              <input type="password" class="form-control" placeholder="Enter password" formControlName="newPassword">
              <!-- <app-field-error
                *ngIf="form.controls['newPassword'].hasError('required') && (form.controls['newPassword'].touched ||  form.get('newPassword').dirty)"
                [message]="'new password is required'"></app-field-error>
              <app-field-error
                *ngIf="form.controls['newPassword'].hasError('pattern') && (form.controls['newPassword'].touched ||  form.get('newPassword').dirty)"
                [message]="'password must contain at least eight characters, one uppercase letter, one lowercase letter and one number'"></app-field-error> -->
            </div>
          </div>

          <div class="col-lg-12 col-sm-12">
            <div class="form-group">
              <label >Confirm password</label>
              <input type="password" class="form-control" placeholder="Re-type password" formControlName="confirmPassword">
              <!-- <app-field-error
                *ngIf="(form.controls['confirmPassword'].hasError('required') && (form.controls['confirmPassword'].touched ||  form.get('confirmPassword').dirty)) || passwordC"
                [message]="'Password provided does not match'"></app-field-error> -->
            </div>
          </div>

        </div>

        <button type="button" class="btn btn-success btn-md {{working ? 'disabled' : '' }}"  style=" margin-bottom: 20px !important;" (click)="submit()">Submit
          <ng-container *ngIf="working"><span><span class="iconify icon" data-icon="eos-icons:loading"></span></span></ng-container>
        </button>
      </div>
  </div>
</form>

